body{
   background-image: url("http://127.0.0.1:8887/bg-html.jpg") !important;
}

.title-melody{
  font-family: "Lucida Handwriting" !important;
  font-size: 35px !important;
  color: rgb(238, 188, 170) !important;
  background-color: #340133;
  margin-left: 37% !important;
  margin-right: 37% !important;
  opacity: 80%;
}

.btn-nav:hover{
  color:#fff !important;
  background-color:#340133;
  border-color:#340133;
}

.menu{
  background-color: rgb(238, 188, 170) !important;
  opacity: 80% !important;
  margin-left: 35% !important;
  margin-right: 35% !important;
}

.containerPrincipal {
  max-width: 80% !important;
  max-height: 95% !important;
  background-image: url("http://127.0.0.1:8887/bg.png") !important;
  opacity: 95% !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.margemPrincipal{
  margin-right: 15% !important;
  margin-left: 30%  !important;
}

.nav-linkMenu{
  color: #340133 !important;
  font-size: 15px !important;
  display: block !important;
  text-decoration: none !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out !important;
  padding: 1% !important;
  font-weight: 700 !important;
}

h1{
  color: bisque;
}

.letraNav{
  padding: 1% !important;
  font-weight: 700;
  border-bottom: 0.25em;
  color: #340133 !important;
}

.rating-group {
  display: inline-flex;
}

.rating-icon {
  pointer-events: none;
}

.rating-input-none {
  display: none
}

.rating-label {
  cursor: pointer;
  padding: 0 0.1em;
  font-size: 2rem;
}

.rating-icon-star {
  color: white;
}

.rating-input:checked ~ .rating-label .rating-icon--star {
  color: #ddd;
}

.rating-group:hover .rating-label .rating-icon-star {
  color: orange;
}

.rating-input:hover ~ .rating-label .rating-icon-star {
  color: #ffffff;
}

.text-footer{
  color: #cccccc !important;
}

footer{
  background-color: #000000;
  opacity: 80%;
  margin-right: 36%;
  margin-left: 36%;
  box-shadow: #919191;
}

form{
  background-color: antiquewhite;
  opacity: 90%;
  margin-right: 23%;
  margin-left: 23%;
}

label{
  font-family: "Arial" !important;
  font-weight: bold !important;
}

.brown-color, th, td{
  color: #340133;
}

.cp{
  background-color: antiquewhite !important;
  opacity: 90% !important;
  margin-right: 23% !important;
  margin-left: 23% !important;
}

textarea{
  margin-left: 10% !important;
}

table{
  padding: 0 !important;
}

.table-melody{
  --bs-table-bg: antiquewhite !important;
  --bs-table-striped-bg: #2c3034;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #373b3e;
}

.stars {
  display: flex;
}

.stars.disabled {
  pointer-events: none;
}

.stars a{
  opacity: 50%;
  cursor: pointer;
  padding: 3px;
}

.stars:hover a {
  opacity: 100%;
}

.stars a:hover {
  opacity: 100%;
}

.stars a:hover ~ a {
  opacity: 50%;
}

.stars a.active {
  opacity: 100%;
}

.rating-input {
  position: absolute !important;
  left: -9999px !important;
}

.error{
  color: red;
  font-style: italic;
}