<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
</head>
<body>
<section layout:fragment="content">
    <section class="containerPrincipal d-flex mx-auto flex-column w-100 h-100 p-3 navColor">
        <main role="main" class="inner cover">
            <div class="cp rounded p-2">
                <h4 class="cover-heading">Áudio Gerado</h4>

                <!--<a href="#" onClick="playMusic()">teste<script>MIDIjs.play("C:\\Users\\igorg\\Desktop\\Facul\\TCC2\\Execução tcc2\\melodyGenerator\\src\\main\\resources\\temp\\Audio 1.mid");</script></a>
                <a href="#" onClick=<script"MIDIjs.play("https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid")">teste<script>MIDIjs.play("https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid");</script></a>-->

                <!--/*@thymesVar id="generatedMelody" type="br.edu.utfpr.melodyGenerator.model.GeneratedMelody"*/-->

                <midi-player
                        th:src="'http://127.0.0.1:8887/Audio ' + ${generatedMelody.melody_id} + '.midi'"
                        sound-font visualizer="#myStaffVisualizer">
                </midi-player>

                <midi-visualizer class="py-3" type="staff" id="myStaffVisualizer"
                                 th:src="'http://127.0.0.1:8887/Audio ' + ${generatedMelody.melody_id} + '.midi'">
                </midi-visualizer>

                <div id="download">
                    <a th:href="'http://127.0.0.1:8887/Audio ' + ${generatedMelody.melody_id} + '.midi'"
                       class="btn btn-nav py-2 mt-4 border border-dark letraNav">
                        <strong>Download</strong>
                    </a>
                    <a href="generateMelody"
                       class="btn btn-nav py-2 mt-4 border border-dark letraNav">
                        <strong>Gerar outra melodia</strong>
                    </a>
                </div>

                <!-- <audio controls
                     <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                     <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                     <bgsound src="http://www.w3schools.com/html/horse.mp3" loop="-1">
                     <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                 </audio>-->
                <!--<audio controls>
                    <source th:src="horse.midi" type="audio">
                </audio>-->

                <!--/*@thymesVar id="userFeedback" type="br.edu.utfpr.melodyGenerator.model.UserFeedback"*/-->


                <form id="form" th:action="@{/generatedMelody}" method="post"
                      th:object="${userFeedback}">
                    <h4 class="py-4">Deixe Seu Feedback!</h4>
                    <div th:value="5" class="stars">
                        <h5>Informe a nota:</h5>
                        <a><input name="grade" class="rating-input" id="star1" value="1" type="radio" th:field="*{grade}">⭐</a>
                        <a><input name="grade" class="rating-input" id="star2" value="2" type="radio" th:field="*{grade}">⭐</a>
                        <a><input name="grade" class="rating-input" id="star3" value="3" type="radio" th:field="*{grade}">⭐</a>
                        <a><input name="grade" class="rating-input" id="star4" value="4" type="radio" th:field="*{grade}">⭐</a>
                        <a><input name="grade" class="rating-input" id="star5" value="5" type="radio" th:field="*{grade}">⭐</a>
                    </div>
                    <div class="form-group row py-2">
                        <label class="col-sm-10 col-form-label lead letraNav" for="melhoria"
                        >Sugestão de melhoria</label>

                        <textarea class="form-control" id="melhoria" rows="4"
                                  th:field="*{improvement_suggestion}"></textarea>

                    </div>
                    <button id="submit" type="submit" class="btn btn-nav py-2 mt-4 border border-dark letraNav"><strong>Enviar
                        Feedback</strong>
                    </button>

                </form>
            </div>
        </main>
    </section>
</section>

<th:block layout:fragment="javascript">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/melodyController.js}"></script>
</th:block>

</body>
</html>