<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
    <!--<link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>-->
    <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>
</head>
<body>
<section layout:fragment="content">
    <section class="containerPrincipal d-flex mx-auto flex-column w-100 h-100 p-3 navColor">
        <main role="main" class="inner cover">
            <div class="cp rounded p-2">
                <h4 class="cover-heading">Áudio Gerado</h4>

                <!--<a href="#" onClick="playMusic()">teste<script>MIDIjs.play("C:\\Users\\igorg\\Desktop\\Facul\\TCC2\\Execução tcc2\\melodyGenerator\\src\\main\\resources\\temp\\Audio 1.mid");</script></a>
                <a href="#" onClick=<script"MIDIjs.play("https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid")">teste<script>MIDIjs.play("https://cdn.jsdelivr.net/gh/cifkao/html-midi-player@2b12128/twinkle_twinkle.mid");</script></a>-->

                <!--/*@thymesVar id="generatedMelody" type="br.edu.utfpr.melodyGenerator.model.GeneratedMelody"*/-->

                <midi-player
                        src="http://127.0.0.1:8887/Audio 1.midi"
                        sound-font visualizer="#myStaffVisualizer">
                </midi-player>

                <midi-visualizer class="py-3" type="staff" id="myStaffVisualizer"
                                 src="http://127.0.0.1:8887/Audio 2.midi">
                </midi-visualizer>

                <a href="http://127.0.0.1:8887/Audio 2.midi" class="btn btn-nav py-2 mt-4 border border-dark letraNav"><strong>Download da melodia gerada</strong></a>

                <!-- <audio controls
                     <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg" />
                     <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg" />
                     <bgsound src="http://www.w3schools.com/html/horse.mp3" loop="-1">
                     <a href="http://www.w3schools.com/html/horse.mp3">horse</a>
                 </audio>-->
                <!--<audio controls>
                    <source th:src="horse.midi" type="audio">
                </audio>-->

                <!--/*@thymesVar id="userFeedback" type="br.edu.utfpr.melodyGenerator.model.UserFeedback"*/-->

                <h4 class="py-4">Deixe Seu Feedback!</h4>
                <form th:action="@{/generatedMelody}" method="post"
                      th:object="${userFeedback}">
                    <div class="form-group row py-2">
                          <label class="col-sm-6 col-form-label lead letraNav"
                                 for="grade">Nota</label>
                          <div class="col-sm-5 mr-2 justify-content-center">
                              <div class="rating-group">
                                  <input disabled checked class="rating-input rating-input-none"
                                         id="grade" value="12" type="radio" th:field="*{grade}">
                                  <label aria-label="1 star" class="rating-label" for="rating3-1">
                                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                                  </label>
                                  <input class="rating-input" id="rating3-1" value="1" type="radio" th:field="*{grade}">
                                  <label aria-label="2 stars" class="rating-label" for="rating3-2">
                                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                                  </label>
                                  <input class="rating-input" id="rating3-2" value="2" type="radio" th:field="*{grade}">
                                  <label aria-label="3 stars" class="rating-label" for="rating3-3">
                                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                                  </label>
                                  <input class="rating-input" id="rating3-3" value="3" type="radio" th:field="*{grade}">
                                  <label aria-label="4 stars" class="rating-label" for="rating3-4">
                                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                                  </label>
                                  <input class="rating-input" id="rating3-4" value="4" type="radio" th:field="*{grade}">
                                  <label aria-label="5 stars" class="rating-label" for="rating3-5">
                                      <i class="rating-icon rating-icon-star fa fa-star"></i>
                                  </label>
                                  <input class="rating-input" id="rating3-5" value="5" type="radio" th:field="*{grade}">
                              </div>
                          </div>
                      </div>
                      <div class="form-group row py-2">
                          <label class="col-sm-10 col-form-label lead letraNav" for="melhoria"
                                 >Sugestão de melhoria</label>

                              <textarea class="form-control" id="melhoria" rows="4" th:field="*{improvement_suggestion}" ></textarea>

                      </div>
                      <button type="submit" class="btn btn-nav py-2 mt-4 border border-dark letraNav"><strong>Enviar Feedback</strong>
                      </button>

                  </form>
              </div>
          </main>
      </section>
  </section>

  <!--<th:block layout:fragment="javascript">
      <script type="text/javascript" th:src="@{../static/js/melodyController.js}"></script>
  </th:block>-->

</body>
</html>