<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
</head>

<body>
<section layout:fragment="content">
  <section class="containerPrincipal d-flex mx-auto flex-column w-100 h-100 p-3 navColor">
    <main role="main" class="inner cover">
      <p class="lead">Qtd. intervalo de oitavas</p>
      <p class="lead">BPM</p>
      <p class="lead">Nota escala</p>
      <p class="lead">Tipo escala</p>
      <p class="lead">Qtd. repetição</p>
      <p class="lead">
        <a href="playerAudio.html" class="btn btn-lg btn-secondary">Gerar</a>
      </p>
    </main>
  </section>
</section>
</body>
</html>